[submodule "zsh"]
	path = zsh
	url = https://github.com/wblankenship/zsh
[submodule "vim"]
	path = vim
	url = https://github.com/wblankenship/vim.git
[submodule "xterm"]
	path = xterm
	url = https://github.com/wblankenship/xterm.git
